.password_app {
  display: flex;
  padding: 4%;
  flex-direction: column;
}
@media (min-width: 640px) {
  .password_app {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .password_app {
    width: 51%;
  }
}
@media (min-width: 1200px) {
  .password_app {
    width: 44%;
  }
}
.toggle-div {
  /* border: 3px solid var(--strength-bar-background-color); */
  background-color: var(--strength-bar-background-color);
  padding: 4%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text {
  text-align: center;
}
