.bar-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.length {
  color: var(--strong);
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
}
.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0 4% 4% 4%;
}

.input {
  appearance: none;
  position: relative;
  background-color: var(--background-color);
  height: 0.4rem;
  /* border: 0.15rem solid var(--strong); */
  display: grid;
}
.input::after {
  content: "";
  position: absolute;
  background-color: var(--strong);
  /* to set the pseudo element width with js you need a variable
  see https://www.youtube.com/watch?v=LszEboGO_zw */
  width: var(--emptyVariable, 0%);
  height: 100%;
  /* z-index: 1; */
}
/* customise the thumb */
.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

/* changing the thumb on hover */
.input::-webkit-slider-thumb:hover,
.input::-moz-range-thumb:hover,
.input::-ms-thumb:hover {
  background: var(--background-color);
  border: 2px solid var(--strong);
}

/* input track */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-ms-track,
input[type="range"]::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
