.span {
  color: var(--strength-text-color);
  font-size: var(--password-mobile-size);
  line-height: var(--password-line-height);
  overflow: hidden;
  width: 89%;
}
div .white {
  color: var(--text-color);
}
.icon {
  height: 1.5rem;
}
.password_div {
  background-color: var(--strength-bar-background-color);
  margin: 4% 0;
  padding: 4% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .icon-white {
  fill: var(--background-color);
}
.icon-green {
  fill: var(--strong);
} */
.copied {
  color: var(--strong);
  padding-right: 2%;
}
