.strength-div {
  display: flex;
  background-color: var(--background-color);
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  padding: 3% 0;
}
.strengthbar-div {
  display: flex;
  justify-content: space-between;
  width: 38%;
  align-items: center;
}
