.strength-div {
  display: flex;
  background-color: var(--background-color);
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  padding: 3% 0;
}
.strengthbar-div {
  display: flex;
  justify-content: space-evenly;
  width: 38%;
  gap: 9%;
  align-items: center;
}
.strength {
  color: var(--strength-text-color);
}
.strength-indicator {
  text-transform: uppercase;
}
